<%= erb :_head %>

<body>
  <header>
    <div class="wrapper">
      <a href="/" id="logo" class="logo">Group Buddies</a>

      <nav>
        <ul>
          <li><a id="nav-home" href="/">Back to home</a></li>
          <li><a id="nav-coachme" href="/portfolio/coachme">CoachMe</a></li>
          <li><a id="nav-cohive" href="/portfolio/cohive">cohive</a></li>
          <li><a id="nav-creators" href="/portfolio/creatorsschool">Creators School</a></li>
          <li><a id="nav-isj" href="/portfolio/inspacejobs">inSpace Jobs</a></li>
          <li><a id="nav-healthkeep" href="/portfolio/healthkeep">HealthKeep</a></li>
          <li><a id="nav-roundabet" href="/portfolio/roundabet">Roundabet</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="wrapper">
    <section id="coachme" class="project <%= @name != 'coachme' ? 'hidden' : '' %>">
      <a href="https://coachmeapps.com/" title="Visit Web site"><h1>CoachMe</h1></a>

      <p id="type">Design and Development</p>

      <p id="info">CoachMe is an easy-to-use PlayBook diagramming system that allows coaches and players to easily draw, animate, develop and share PlayBooks in real-time. CoachMe provides a secure web-portal for team and document management.</p>
      <a href="https://coachmeapps.com/" title="Visit Web site"> <img src="/images/portfolio/coachme-screen.jpg" alt="CoachMe"> </a>
    </section>

    <section id="cohive" class="project <%= @name != 'cohive' ? 'hidden' : '' %>">
      <a href="http://www.cohive.me/" title="Visit Web site"><h1>cohive</h1></a>

      <p id="type">Design, Development and Product Management</p>

      <p id="info">cohive is a tool for coworking spaces, that allows them to execute day-by-day tasks and manage their community, without the hassle.</p>
      <a href="http://www.cohive.me/" title="Visit Web site"><img src="/images/portfolio/cohive-screen.png" alt="cohive"></a>
    </section>

    <section id="creatorsschool" class="project <%= @name != 'creatorsschool' ? 'hidden' : '' %>">
      <a href="http://cs.groupbuddies.com/" title="Visit Web site"><h1>Creators School</h1></a>

      <p id="type">Design, Development and Founders</p>

      <p id="info">For 2 whole weeks, during 8 hours a day, the participants would develop a solution for a practical problem. All of the teams would be working on the same problem, picked by the Creators School team. This was a huge success and a great experience for everyone involved. We're now working on the next edition.</p>
      <a href="http://cs.groupbuddies.com/" title="Visit Web site"><img src="/images/portfolio/creators-screen.png" alt="Creators School"></a>
    </section>

    <section id="inspacejobs" class="project <%= @name != 'isj' ? 'hidden' : '' %>">
      <a href="http://www.inspacejobs.com/" title="Visit Web site"><h1>inSpace Jobs</h1></a>

      <p id="type">Design, Development and Product Management</p>

      <p id="info">Sky is NOT the limit. This is a job-searching platform for the Space industry. We created the perfect place for companies to list their job openings and for talents to show how good they are.</p>
      <a href="http://www.inspacejobs.com/" title="Visit Web site"><img src="/images/portfolio/inspacejobs-screen.png" alt="inSpace Jobs"></a>
    </section>

    <section id="healthkeep" class="project <%= @name != 'healthkeep' ? 'hidden' : '' %>">
      <a href="https://www.healthkeep.com/" title="Visit Web site"><h1>HealthKeep</h1></a>

      <p id="type">Design</p>

      <p id="info">HealthKeep is a platform for doctors and people who care deeply about their health, for sharing knowledge and experiences. This platform allows you to be anonymous, so you can feel free to talk about any issues, with complete privacy and safety.</p>
      <a href="https://www.healthkeep.com/" title="Visit Web site"><img src="/images/portfolio/healthkeep-screen.png" alt="healthkeep"></a>
    </section>

    <section id="roundabet" class="project <%= @name != 'roundabet' ? 'hidden' : '' %>">
      <a href="https://www.roundabet.com/" title="Visit Web site"><h1>Roundabet</h1></a>

      <p id="type">Design and Development</p>

      <p id="info">Sports betting platform that removes all the odds, events and any other hassle, making users bet against each other AND using Bitcoins instead of money.</p>
      <a href="https://www.roundabet.com/" title="Visit Web site"><img src="/images/portfolio/roundabet-screen.png" alt="Roundabet"></a>
    </section>

    <p id="copyright">© <%= Time.now.year %> Group Buddies. All rights reserved.</p>
  </div>
</body>
